.navbar {
  display: flex;
  justify-content: center;
  background-color: #013914;
  color: white;
  .container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

    .logo {
      font-size: 34px;
      font-weight: bold;
      .dot {
        color: #1dbf73;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 550;
      button {
        color: White;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }
}
